section
  padding: 1rem;

nav
  .navbar-nav
    .nav-item
      line-height: 2.5rem;
      margin: -0.5rem 0.5rem;

    .active
        background: rgba(0,0,0,0.2);

i
  &.mark-icon
    background: none;
    display: inline-block;
    font-size: 5rem;
    font-style: normal;
    height: 5rem;
    line-height: 4rem;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 5rem;

    &.spin
      animation: spinner 2s linear infinite;

@keyframes spinner
  to {transform: rotate(360deg);}
