section
  padding: 1rem;

i
  &.mark-icon
    background: none;
    display: inline-block;
    font-size: 5rem;
    font-style: normal;
    height: 5rem;
    line-height: 4rem;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 5rem;

    &.spin
      animation: spinner 2s linear infinite;

@keyframes spinner
  to {transform: rotate(360deg);}
